# Arquivos e Pastas do Sistema Operacional
*.swp
*.swo
.DS_Store
Thumbs.db

# Arquivos e Pastas do IDE (Ambiente de Desenvolvimento Integrado)
.idea/
*.iml
*.iws
.classpath
.project
.settings/

# Pasta de build (construção) e arquivos
build/
out/
gradle/
bin/

# Pasta de distribuição
dist/

# Pasta do Gradle
.gradle/

# Arquivos de propriedades específicos do usuário
*.properties

# Arquivos de Logs
*.log

# Pasta target (alvo) do Spring Boot
target/

# Arquivos e pastas gerados automaticamente durante a execução
!gradle-wrapper.jar

# Arquivos binários temporários
*.bin
*.bak
*.bak.*

# Outros arquivos específicos do ambiente de desenvolvimento
.apt_generated
.factorypath
.sts4-cache

# Arquivos específicos do IntelliJ IDEA
*.ipr
out/

# Arquivos específicos do NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Arquivos específicos do VS Code
.vscode/
